<div id="navbar-content" class="container header"></div>

<div id="content" class="container"></div>
<script>
  <% unless current_user.nil? %>
    Hotdealio.currentUserId = <%= current_user.id %>;
  <% end %>

  $(function () {

  });
</script>
