/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$navbar-purple: #161656;
$btn-barely-purple: #e7e7ff;
$btn-dark-purple: #464686;
$btn-dark-purple-hover: #565696;
$a-dark-purple: #464686;
$a-dark-purple-hover: #464686;
$btn-purple: #4286c1;
$btn-purple-hover: #5296d1;
$pill-dark-purple: #464686;
$btn-light: #e7e7ff;
$btn-light-hover: #464686;

$deal-row-top-row: #DDD;
$deal-tile-hover: #f8f8f8;
$deal-recent-tile-hover: #f8f8f8;

$text-header: #161656;

$text-votes: #464686;

$comment-container-hover: #fcfcfc;
$comment-left-border: #e7e7ff;
$comment-left-border-hover: #464686;


//global stuff


//navbar stuff
.navbar {
  min-height: 0;
};

.navbar-static-top {
  background-color: $navbar-purple;
};

.navbar-text-welcome {
  color: white;
};

.navbar-text-username {
  font-weight: bold;
};

.nav-account-items {
  margin-top: -29px;
};

.nav-account-items > li {
  margin: 5px 5px;
};

.btn-white {
  background-color: white;
  color: $btn-dark-purple;
};

.btn-white:hover {
  background-color: $btn-barely-purple;
  color: $btn-dark-purple;
};

.btn-purple {
  background-color: $btn-dark-purple;
  color: white;
  border: 0;
};

.btn-purple:hover {
  background-color: $btn-dark-purple-hover;
  color: white;
};

.category-pills {

};

.nav-pills > li > a {
  text-align: center;  
  font-weight: bold;
  padding: 4px 0;
  margin: 2px 4px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $pill-dark-purple;
  text-align: center;
}

// .search-bar {
//   height: 25px;
//   font-size: 12px;
//   width: 500px;
//   margin-left: 16px;
// };

//anchor tag stuff
a {
  color: $a-dark-purple;
};

a:hover {
  color: $a-dark-purple;
};

.category-items {
  margin: 20px 20px 10px 20px;
  width: 508px;
};

.pill-item {
  width: 100px;
};

.pill-item > a {
  margin: auto;
};

.logo-container {
  margin: 10px 10px 0 10px;
  padding: 0;
  width: 339px;
  height: 73px;
}

.btn-post-new-deal {
  margin: 30px 30px 20px 30px;
};

.btn-post-new-deal:hover {
  margin: 30px 30px 20px 30px;
};

//deal index page stuff

.deal-rows-all {
  width: 800px;
  border-top: 1px solid $deal-row-top-row;
  padding: 5px 0 0 0;
  margin: 0;
  float: right;
};

.deal-row-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  margin: 0;
  float: left;
};

.deal-tile-container {
  width: 200px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
};

.deal-tile-container:hover {
  background-color: $deal-tile-hover;
  border-radius: 8px;
  padding-bottom: 10px;
  margin-bottom: 5px;
};

.deal-tile-image {
  margin: 10px;
  width: 150px;
};

.recent-deal-container {
  padding-top: 3px;
}

.deal-recent-entry {

}

.deal-recent-entry:hover {
  background-color: $deal-recent-tile-hover;
}


//deal show page stuff
.deal-show-container {
  padding: 0 20px 20px 20px;
}

.deal-image {
  margin: 3px;
};

.btn-vote, .btn-vote:hover {
  border: 0;
  border-radius: 50%;
  padding: 0 0 0 0;
  font-size: 16px;
};

.btn-vote:focus {
  outline: none;
};

.deal-votes {
  margin: 5px 0;
};

.deal-upvote, .deal-downvote {
  background-color: white;
  color: $btn-light;
  margin: 0 0;
};

.deal-upvote:hover, .deal-downvote:hover {
  background-color: white;
  color: $btn-light-hover;
  margin: 0 0;
};

.btn-deal-update {
  margin-right: 5px;
};

.btn-deal-delete {
  
};

.comment-upvote, .comment-downvote {
  background-color: white;
  color: $btn-light;
  margin: 0 0;
};

.comment-upvote:hover, .comment-downvote:hover {
  background-color: white;
  color: $btn-light-hover;
  margin: 0 0;
};

.upvoted {
  background-color: white;
  color: $btn-dark-purple;
  margin: 0 0;  
}

.upvoted:hover {
  background-color: white;
  color: $btn-dark-purple-hover;
  margin: 0 0;
}

.downvoted {
  background-color: white;
  color: $btn-dark-purple;
  margin: 0 0;  
}

.downvoted:hover {
  background-color: white;
  color: $btn-dark-purple-hover;
  margin: 0 0;
}

ul {
  list-style-type: none;
//  margin: 5px 0;
};

.votes-text {
  background-color: $text-votes;
  color: white;
  font-weight: bold;
  padding: 4px 5px 2px 6px;
  border-radius: 5px;
  font-size: 14px;
};

.deal-votes-container {
  margin: 5px;
}

.comment-container {
  margin: 7px 0;
  border-left-color: $comment-left-border;
  border-left-style: solid;
  padding-left: 5px;
}

.comment-body-container {
  display: inline-block;
  //white-space: pre-wrap;
}

.comment-container:hover {
  border-left-color: $comment-left-border-hover;
  background-color: $comment-container-hover;
}

.comment-body {
  width: 800px;
  //height: 200px;
};

.comment-items {
  padding: 10px 0 10px 20px;
};

.comment-items > ul {
  padding: 10px 0 10px 10px;
};

.btn-comment-reply {
  display: none;
  margin-left: 10px;
}

.comment-author-text {
  font-size: 10px;
};

.vote-area-container {
  width: 50px;
}

//recent deals stuff

.deal-recent-all-container {
  border-top: 1px solid;
  border-color: #DDD;
  padding-top: 10px;
};


.deal-recent-container {
  width: 340px;
  padding: 20px;
  float: right;
  margin-top: -59px;
};

.recent-deal-text {
  font-size: 12px;
};

.recent-deal-votes-text {

};

//typeahead

.tt-query,
.tt-hint {
  // width: 496px;
  // height: 30px;
  // padding: 8px 12px;
  // font-size: 24px;
  // line-height: 30px;
  // border: 2px solid #ccc;
  // border-radius: 8px;
  // outline: none;
}

.tt-query {
//  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-input {
  margin: 5px 0 2px 16px;
  width: 500px;
  height: 25px;
}

.tt-hint {
//  color: #999
}

.tt-dropdown-menu {
  width: 500px;
  margin-top: 0;
  margin-left: 15px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #DDD;
  border-radius: 4px;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: 0;
  background-color: #f8f8f8;
}

.tt-suggestion p {
  margin: 0;
}


//fix later:
.btn-primary {
  border: none;
  background-color: $btn-dark-purple;
}
.btn-primary:hover {
  background-color: $btn-dark-purple-hover;
}