<% @categories.each do |category| %>
  <%= link_to category.name, category_url(category) %>
<% end %>

<ul>
<% @deals.each do |deal| %>
  <li><%= link_to deal.title, deal_url(deal) %></li>
<% end %>
</ul>