<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li>
      <div class="logo-container">
        <a href="/#">
          <img src="/assets/hotdealio-logo.png">
        </a>
      </div>
    </li>
    <li>
      <div class="category-items">
      <% var categoryCount = 1; %>
      <ul class="nav nav-pills">
        <% categories.each(function (category) { %>
          <li class="pill-item pill-<%= category.escape('name').toLowerCase() %>">
            <a href="/#/<%= category.get('id') %>">
              <%= category.escape('name') %>
            </a>
          </li>

          <% if (categoryCount === Math.floor(_.size(categories) / 2)) { %>

      </ul>
      <ul class="nav nav-pills">

          <% } %>

          <% categoryCount++; %>
        <% }); %>
      </ul>
      </div>
    </li>
  <li>
    <div>
      <a href="#/new" class="btn btn-lg btn-blue btn-post-new-deal">Post New Deal</a>
    </div>
  </li>
  </ul>
</nav>